Xilinx/Spartan-6/MojoBoard/mojo-base-project-master/iseconfig/Mojo-Base.projectmgr
*.xreport
Xilinx/Spartan-6/MojoBoard/mojo-base-project-master/Mojo-Base.xise
Lessons/UTAustinX/Labware/Lab9_FunctionalDebugging/Lab9.build_log.htm
*.bak
Lessons/UTAustinX/Labware/Lab8_SwitchLEDinterface/Lab8.uvopt
*.crf